{% extends "home-base.html" %}

{% block title %}
Form Demo
{% endblock %}

{% block page_content %}
<h1>This is the form demo page</h1>

{% if first_name %}
  <h3>Hello {{first_name}}</h3>
{% else %}
  <h3>Hey you!</h3>
{% endif %}

<h4>This is the GET Form</h4>
<!-- form -->
<form action="/form-demo" method="get">
What's your name? <br>
<input type="text" name="first_name" value=""><br><br>
<input type="submit" name="" value="submit">
</form>

<h4>This is the POST Form</h4>
<form action="/form-demo" method="post">
What's your name? <br>
<input type="text" name="first_name" value=""><br><br>
<input type="submit" name="" value="submit">
</form>
{% endblock %}
