{% extends "home-base.html" %}

{% block title %}
Add Songs
{% endblock %}

{% block page_content %}
<h1> use the form to add a song </h1>


<h4>This is the POST Form</h4>
<form action="/song/add" method="post">

<label>Song Name</label><br>
<input type="text" name="name" value=""><br><br>

<label>Year</label><br>
<select name="year">

  {% for i in range(1950, 2025) %}
    {% if i == 2017 %}
      <option selected="selected">{{i}}</option>

    {% else %}
    <option>{{i}}</option>
    {% endif %}

    {% endfor %}
</select><br><br>

<label>Lyrics</label><br>
<input type="text" name="lyrics" value=""><br><br>

<label>Artist Name</label><br>
<select name="artist_name">
  {% for artist in artists %}
  <option>{{artist.name}}</option>
  {% endfor %}
</select>

<input type="submit" name="" value="Add Song">
</form>

{% endblock %}
